.votes {
    color: red;

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .circle {
        cursor: pointer;
    }
}

.tooltip {
    position: absolute;
    background: #f2f2f2;
}
